.card {
  opacity: 0;
  animation: fade-in 0.5s linear forwards;
  padding: 0.5rem;
  box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
  display: flex;
  border-radius: 5%;
  flex-direction: column;
  margin: 0;
  height: 90%;
  .title {
    font-size: 1.3rem;
    font-weight: 900;
    margin-top: 0;
    text-transform: uppercase;
  }
  .face {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 50%;
    color: lightgreen;
  }
  .description {
    font-size: 1.2rem;
    padding: 1rem;
  }
  .attributes {
    margin-top: 1rem;
    align-self: flex-end;
    display: flex;
    justify-content: space-between;
    width: 100%;
    .power {
      display: flex;
      align-items: center;
      color: darkorchid;
      .powerValue {
        font-size: 1.5rem;
      }
      .powerIcon {
        fill: darkorchid;
        padding-left: 0.2rem;
      }
    }
    .health {
      display: flex;
      align-items: center;
      color: crimson;
      .healthValue {
        font-size: 1.5rem;
      }
      .healthIcon {
        fill: crimson;
        padding-left: 0.2rem;
      }
    }
  }
}

@keyframes fade-in {
  100% {
    opacity: 1;
  }
}
