.grid {
  margin: auto;
  background-color: #dbffba;
  display: flex;
  flex-direction: column;
  width: 750px;
  height: 875px;
  align-items: center;
  justify-content: center;
  .row {
    display: flex;
    flex-direction: row;
    .cell {
      .cellCard {
        background-color: #cfa767;
      }
      width: 150px;
      height: 175px;
      outline: 1px solid white;
    }
  }
}
